body{
    background-image: url("/static/finalbg.png");
    background-repeat:no-repeat;
    background-size:100%;
    font-family: sans-serif;
}



#menu {
    margin: 0;
    width: auto;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    padding: 8px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
}

#menu ul {
    margin: 0;
    padding: 8px 0;
    list-style: none;
    height: auto;
}

#menu li {
    display: inline;
    padding: 8px;
}

#menu a {
    color: #FFF;
    padding: 10px;
    text-decoration: none;
}

#menu a:hover {
    background-color: #1B191B;
    color: #FFF;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
}

#menu li .active {
    background-color: #1B191B;
    color: #FFF;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
}








.login-box{
    border-radius: 20px;
    margin: 50px 100px 100px 400px;
    width: 450px;
    height: 1000px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
/* .avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
} */
h1{
    margin: 8px;
    padding: 0 0 20px;
    text-align: center;
    font-size: 25px;
}
p{
    
    text-align: center;
    font-size: 22px;
}

.login-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.login-box input{
    width: 100%;
    margin-bottom: 20px;
}
.login-box input[type="text"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.successfull.h1{
    margin: 8px;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;

}